services:
    db:
        image: postgres:16
        container_name: autoflex-db
        environment:
            POSTGRES_DB: autoflexdb
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
    api:
        build: ./api
        container_name: autoflex-api
        depends_on:
            - db
        environment:
            SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/autoflexdb
            SPRING_DATASOURCE_USERNAME: user
            SPRING_DATASOURCE_PASSWORD: password
            SPRING_JPA_HIBERNATE_DDL_AUTO: update
        ports:
            - "8080:8080"
    web:
        build: ./web
        container_name: autoflex-web
        depends_on:
            - api
        ports:
            - "3000:80"

volumes:
    postgres_data:
