@import "tailwindcss";

@theme {
  
  --color-primary: #2563eb;       /* blue-600 */
  --color-primary-hover: #1d4ed8; /* blue-700 */
  
  --color-bg-body: #f8fafc;       /* slate-50 */
  --color-bg-card: #ffffff;       /* white */
  
  --color-text-main: #0f172a;     /* slate-900 */
  --color-text-muted: #64748b;    /* slate-500 */
  
  --color-border: #e2e8f0;        /* slate-200 */
}

@layer utilities {
    .btn-primary {
        @apply px-4 py-2 bg-primary text-white rounded-lg font-medium hover:bg-primary-hover transition-colors cursor-pointer;
    }

    .input-field {
        @apply w-full px-3 py-2 bg-bg-card border border-border rounded-lg focus:outline-hidden focus:ring-2 focus:ring-primary text-text-main;
    }

    .card-base {
        @apply bg-bg-card border border-border rounded-xl shadow-xs;
    }
}